* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0f0f0f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f5f5f5;
    transition: opacity 2500ms ease;
    background-image: url(/images/personagens/fixedBackground.f2d6a3a.png);
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1500ms forwards ease-in-out;
}

.fade-item {
    opacity: 0;
    animation: fadeInAnimation 3500ms forwards ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-out {
    animation: fadeOutAnimation 3000ms forwards ease-in-out;
}

@keyframes fadeOutAnimation {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background-color: black;
    height: 8vh;
    width: 100vw;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 1000;
        /* Garante que a lista de navegação fique na frente */
    }

    .mobile-menu {
        display: block;
        cursor: pointer;
        z-index: 1001;
        /* Garante que o ícone do menu fique na frente */
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    .nav-list.active li {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
    }

    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .mobile-menu.active .line2 {
        opacity: 0;
    }

    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }
}


.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

.fundo {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.espaço,
.espaço2 {
    position: relative;
    z-index: -1;
    background-color: #1a1a1a;
    padding: 50px;
    margin-top: 100px;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.time_hutao {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.box_hutao,
.box_xingqiu,
.box_yelan,
.box_zhong {
    background: rgba(73, 71, 71, 0.6);
    border: 1px solid #ddd;
    border-radius: 15px;
    width: 220px;
    height: 350px;
    text-align: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.box_hutao:hover,
.box_xingqiu:hover,
.box_yelan:hover,
.box_zhong:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.icone_hutao,
.icone_xingqiu,
.icone_yelan,
.icone_zhong {
    margin-top: 40px;
}

.name_hutao,
.name_xingqiu,
.name_yelan,
.name_zhong {
    background-color: #252525;
    padding: 10px 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.artefatos,
.armas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 30px;
    text-align: center;
}

.arma,
.artefato {
    background: rgba(73, 71, 71, 0.8);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.arma:hover,
.artefato:hover,
.artefatos_h:hover,
.artefato_h:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.arma img,
.artefato img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.artefato_h {
    background: rgba(73, 71, 71, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.artefatos_h,
.artefatos_xy {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.ML_armas {
    text-align: center;
    margin: 40px 0;
}
