* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url(./images/personagens/fixedBackground.f2d6a3a.png);
    transition: opacity 3s ease;
}

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1500ms forwards ease-in-out;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-out {
    opacity: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background-color: black;
    height: 8vh;
    width: 100vw;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .sobre_jogo {
        text-align: center;
        width: 100%;
    }

    .imagem2,
    .texto1,
    .texto2 {
        text-align: center;
        font-size: 10px;
        width: 100%;
    }

    main {
        flex-direction: column;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

section div.fundo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.fundo {
    z-index: -1;
    position: absolute;
    max-height: 100%;
    width: 100%;
    height: 100vh;
}

.pressione {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: -1;
}

@keyframes aparecendo {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.text {
    color: white;
    z-index: -1;
    font-size: 20px;
    top: 79%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    animation: aparecendo 3s infinite;
}
